.playlistTable {
	border: 2px solid black;
	border-collapse: collapse;
	bgcolor: white;
	background-color: white;
	padding: 8px;
	margin-bottom: 25px;
}

.playlistTable thead {
	border: 2px solid black;
	border-collapse: collapse;
	bg-color: white;
	background-color: white;
}

.playlistTable tbody {
	border: 2px solid black;
	border-collapse: collapse;
	bg-color: white;
	background-color: white;
}

.playlistTable tbody tr:hover {
	background-color: grey;
	cursor: pointer;
}

.playlistTable th {
	border: 2px solid black;
	border-collapse: collapse;
	color: black;
	padding: 8px;
}

.playlistTable td {
	border: 2px solid black;
	border-collapse: collapse;
	color: black;
	padding: 8px;
}

.playlistTable selected {
	background-color: orange;
}