.remoteTable {
	border: 2px solid black;
	border-collapse: collapse;
	bgcolor: white;
	background-color: white;
	padding: 8px;
	bottom-padding: 25px;
}

.remoteTable thead {
	border: 2px solid black;
	border-collapse: collapse;
	bg-color: white;
	background-color: white;
}

.remoteTable tbody {
	border: 2px solid black;
	border-collapse: collapse;
	bg-color: white;
	background-color: white;
}

.remoteTable tbody tr:hover {
	background-color: grey;
	cursor: pointer;
}

.remoteTable th {
	border: 2px solid black;
	border-collapse: collapse;
	color: black;
	padding: 8px;
}

.remoteTable td {
	border: 2px solid black;
	border-collapse: collapse;
	color: black;
	padding: 8px;
}