.videoTable {
	border: 2px solid black;
	border-collapse: collapse;
	bgcolor: white;
	background-color: white;
	padding: 8px;
	margin-bottom: 25px;
}

.videoTable thead {
	border: 2px solid black;
	border-collapse: collapse;
	bg-color: white;
	background-color: white;
}

.videoTable tbody {
	border: 2px solid black;
	border-collapse: collapse;
	bg-color: white;
	background-color: white;
}

.videoTable tbody tr:hover {
	background-color: grey;
	cursor: pointer;
}

.videoTable th {
	border: 2px solid black;
	border-collapse: collapse;
	color: black;
	padding: 8px;
}

.videoTable td {
	border: 2px solid black;
	border-collapse: collapse;
	color: black;
	padding: 8px;
}