.videoTable {
	border: 1px solid black;
	bgcolor: white;
	background-color: white;
	border-colapse: collapse;
}

.videoTable thead {
	border: 1px solid black;
	bg-color: white;
	background-color: white;
}

.videoTable tbody {
	border: 1px solid black;
	bg-color: white;
	background-color: white;
}

.videoTable tbody tr:hover {
	background-color: grey;
}

.videoTable th {
	color: black;
}

.videoTable td {
	color: black;
}